<h3>Menu: </h3>

<table class="table table-hover">
    <thead>
        <tr ng-show="itemDirCtrl.foundItems.length > 0">
            <th>Name</th>
            <th>Short name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in itemDirCtrl.foundItems">
            <td>{{ item.name }}</td>
            <td>{{ item.short_name }}</td>
            <td>{{ item.description }}</td>
            <td>
                <button class="btn btn-danger btn-xs" ng-click="itemDirCtrl.onRemove({index: $index});">Don't want this one!</button>
            </td>
        </tr>
    </tbody>
</table>
<div ng-if="itemDirCtrl.areItemsPresent()">Nothing found</div>